<a href="https://colab.research.google.com/github/stella-depuydt/CS-167/blob/main/Project2_Depuydt.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Project #2
##Name: Stella Depuydt

Proposed Points (out of 25):

# 1. Problem
State the problem you are trying to solve with this machine learning experiment. Include a description of the data, where you got the data, and what you're trying to predict..

The data I'm using for this project came from the Goodreads-books dataset found on Kaggle. I chose this dataet because I like reading and thought I would enjoy working with data related to books and their ratings. Creator of this dataset, Soumik scraped the data via the Goodreads API. 

**My research question for this project is to predict which variable most significntly predicts the rating a book recieves.**

The target variable is average rating. The predictor variables are title, authors, (isbn, isbn-13), language code, number of pages, ratings count, and text reviews count. Since the variables being analyzed are numerical (not categorical) variables, this is a regression problem.

# 2. Data Preparation
Explain your data preparation. What did you have to do to get your data in shape for your experiments? Why are you certain that you data is clean and prepared for use in your algorithms?

After I loaded in my data, I checked for missing values. Then I removed both isbn columns because really they aren't as user friendly as the book titles, but they serve the same purpose of identification. I also dropped the book ID number since ID numbers starting at zero are automatically assigned.

In [14]:
# load and prepare your data here
from google.colab import drive
import pandas as pd
drive.mount('/content/drive')


books_data = pd.read_csv('/content/drive/MyDrive/Datasets/book.csv')
books_data.head(20)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

,bookID,title,authors,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher
0,1,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling/Mary GrandPré,4.57,439785960,9780439785969,eng,652,2095690,27591,9/16/2006,Scholastic Inc.
1,2,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling/Mary GrandPré,4.49,439358078,9780439358071,eng,870,2153167,29221,9/1/2004,Scholastic Inc.
2,4,Harry Potter and the Chamber of Secrets (Harry...,J.K. Rowling,4.42,439554896,9780439554893,eng,352,6333,244,11/1/2003,Scholastic
3,5,Harry Potter and the Prisoner of Azkaban (Harr...,J.K. Rowling/Mary GrandPré,4.56,043965548X,9780439655484,eng,435,2339585,36325,5/1/2004,Scholastic Inc.
4,8,Harry Potter Boxed Set Books 1-5 (Harry Potte...,J.K. Rowling/Mary GrandPré,4.78,439682584,9780439682589,eng,2690,41428,164,9/13/2004,Scholastic
5,9,"Unauthorized Harry Potter Book Seven News: ""Ha...",W. Frederick Zimmerman,3.74,976540606,9780976540601,en-US,152,19,1,4/26/2005,Nimble Books
6,10,Harry Potter Collection (Harry Potter #1-6),J.K. Rowling,4.73,439827604,9780439827607,eng,3342,28242,808,9/12/2005,Scholastic
7,12,The Ultimate Hitchhiker's Guide: Five Complete...,Douglas Adams,4.38,517226952,9780517226957,eng,815,3628,254,11/1/2005,Gramercy Books
8,13,The Ultimate Hitchhiker's Guide to the Galaxy ...,Douglas Adams,4.38,345453743,9780345453747,eng,815,249558,4080,4/30/2002,Del Rey Books
9,14,The Hitchhiker's Guide to the Galaxy (Hitchhik...,Douglas Adams,4.22,1400052920,9781400052929,eng,215,4930,460,8/3/2004,Crown
10,16,The Hitchhiker's Guide to the Galaxy (Hitchhik...,Douglas Adams/Stephen Fry,4.22,739322206,9780739322208,eng,6,1266,253,3/23/2005,Random House Audio
11,18,The Ultimate Hitchhiker's Guide (Hitchhiker's ...,Douglas Adams,4.38,517149257,9780517149256,eng,815,2877,195,1/17/1996,Wings Books
12,21,A Short History of Nearly Everything,Bill Bryson,4.21,076790818X,9780767908184,eng,544,248558,9396,9/14/2004,Broadway Books
13,22,Bill Bryson's African Diary,Bill Bryson,3.44,767915062,9780767915069,eng,55,7270,499,12/3/2002,Broadway Books
14,23,Bryson's Dictionary of Troublesome Words: A Wr...,Bill Bryson,3.87,767910435,9780767910439,eng,256,2088,131,9/14/2004,Broadway Books
15,24,In a Sunburned Country,Bill Bryson,4.07,767903862,9780767903868,eng,335,72451,4245,5/15/2001,Broadway Books
16,25,I'm a Stranger Here Myself: Notes on Returning...,Bill Bryson,3.9,076790382X,9780767903820,eng,304,49240,2211,6/28/2000,Broadway Books
17,26,The Lost Continent: Travels in Small Town America,Bill Bryson,3.83,60920084,9780060920081,eng,299,45712,2257,8/28/1990,William Morrow Paperbacks
18,27,Neither Here nor There: Travels in Europe,Bill Bryson,3.86,380713802,9780380713806,eng,254,48701,2238,3/28/1993,William Morrow Paperbacks
19,28,Notes from a Small Island,Bill Bryson,3.91,380727501,9780380727506,eng,324,80609,3301,5/28/1997,William Morrow Paperbacks

In [16]:
books_data.columns

Index(['bookID', 'title', 'authors', 'average_rating', 'isbn', 'isbn13',
       'language_code', 'num_pages', 'ratings_count', 'text_reviews_count',
       'publication_date', 'publisher'],
      dtype='object')

In [15]:
books_data.isna().any()

bookID                False
title                 False
authors               False
average_rating        False
isbn                  False
isbn13                False
language_code         False
num_pages             False
ratings_count         False
text_reviews_count    False
publication_date      False
publisher             False
dtype: bool

In [20]:
books_data = books_data[['average_rating', 'title', 'authors', 'language_code', 'num_pages', 'ratings_count', 'text_reviews_count', 'publication_date', 'publisher']]
books_data.head()

,average_rating,title,authors,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher
0,4.57,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling/Mary GrandPré,eng,652,2095690,27591,9/16/2006,Scholastic Inc.
1,4.49,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling/Mary GrandPré,eng,870,2153167,29221,9/1/2004,Scholastic Inc.
2,4.42,Harry Potter and the Chamber of Secrets (Harry...,J.K. Rowling,eng,352,6333,244,11/1/2003,Scholastic
3,4.56,Harry Potter and the Prisoner of Azkaban (Harr...,J.K. Rowling/Mary GrandPré,eng,435,2339585,36325,5/1/2004,Scholastic Inc.
4,4.78,Harry Potter Boxed Set Books 1-5 (Harry Potte...,J.K. Rowling/Mary GrandPré,eng,2690,41428,164,9/13/2004,Scholastic

In [22]:
import sklearn
import pandas
from sklearn import tree
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn import neighbors
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestRegressor




target= ['average_rating']
predictors = ['title', 'authors','language_code', 'num_pages', 'ratings_count', 'text_reviews_count', 'publication_date', 'publisher']
train_data, test_data, train_sln, test_sln = train_test_split(books_data[predictors], books_data[target])
train_data.head()

,title,authors,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher
1568,Dragon's Eye,Christopher Stasheff/William R. Forstchen/Nick...,en-GB,279,41,7,7/1/1994,Baen Books
9892,Black Like Us: A Century of Lesbian Gay and ...,Devon W. Carbado/Evelyn C. White/Dwight A. McB...,eng,600,127,16,5/28/2002,Cleis Press
9818,The Key,Lynsay Sands,eng,313,2152,89,1/1/2003,Leisure Books
3615,The Bible Cure For Diabetes,Don Colbert,eng,96,21,1,8/19/1999,Siloam
2327,The Jefferson Bible: The Life and Morals of Je...,Thomas Jefferson,eng,103,1038,100,8/1/2006,Applewood Books

In [27]:
print(books_data.dtypes)

average_rating        object
title                 object
authors               object
language_code         object
num_pages             object
ratings_count          int64
text_reviews_count     int64
publication_date      object
publisher             object
dtype: object

In [32]:
books_data['average_rating'] = books_data['average_rating'].apply(lambda x: float(x.split()[0].replace('$', '')))

ValueError: ignored

In [25]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(train_data)
train_data_normalized = scaler.transform(train_data)
test_data_normalized = scaler.transform(test_data)
train_data_normalized

ValueError: ignored

# 3. Research

Put your code and your experiments here.

In [ ]:
# code goes here... don't forget to include graphs. Professor Urness loves graphs.

#4. Analysis

What did you discover? What insights/recommendations do you have? What did you find that was interesting? Which model was your best model, which models didn't work well? Why do you think this is? In general, I want a discussion of your experiment, the results, and what they mean.

*your answer here*

# 5. Bumps in the Road
What challenges did you encounter? How did you overcome these challenges?

The first problem I had was when I tried to load in the data. I got an error message that said "Error tokenizing data. C error: Expected 12 fields in line 3350, saw 13." After a google search to figure out what this meant, I opened the data, found and fixed the problem, then reloaded the data.

When I was trying to normlize the data, I had trouble with needin to convert string data to float. I used this website to try to fix the issue, but I couldn't figure it out, so I'm going to switch to the avocado dataset because all the values there are numbers and I will hopefully not run into this issue.
https://www.statology.org/pandas-could-not-convert-string-to-float/